{% extends "base.html" %}

{% load markup %}

{% block content %}

{% if show_manage_link %}
    <p class="right-float">
        <a href="{% url 'committee_manage' committee.slug %}">
            {% if user.is_authenticated %}
                Manage this committee &raquo;
            {% else %}
                Login to manage this committee &raquo;
            {% endif %}
        </a>
    </p>
{% endif %}

<p class="left-float">
    <a href="/committees-list">&laquo; Back to committees</a>
</p>

<div class="clear"></div>

<div class="center-align">
    {% if is_subcommittee %}
    <img src="{{ STATIC_URL }}img/committees/{{ committee.description }}.png" />
    {% else %}
    <img src="{{ STATIC_URL }}img/committees/{{ committee.slug }}.png" />
    {% endif %}
</div>

<br />

<h1>{{ committee.name }}</h1>

{% if is_subcommittee %}
    <p>
        <a href="{% url 'committee_view' committee.description %}">
            Learn more about this committee &raquo;
        </a>
    </p>
{% else %}
    <h2>Introduction</h2>
    {{ committee.description|markdown:"footnotes,def_list,tables" }}

    {% if committee.bg_url %}
      <h2>Background Guide</h2>
      <div class="center-align">
        <a href="{{ committee.bg_url }}"><img class="bg-cover" src="{{ STATIC_URL }}img/committees/{{ committee.slug }}_cover.png" alt="Background guide"></a>
        {% if committee.bg_url2 %}
        <a href="{{ committee.bg_url2 }}"><img class="bg-cover" src="{{ STATIC_URL }}img/committees/{{ committee.slug }}_cover2.png" alt="Background guide"></a>
        {% endif %}
      </div>
    {% endif %}

    <h2>Dais</h2>

    {% include dais_template %}
{% endif %}
{% endblock %}
