<table>
    <tr>
        <th>Crisis Director</th>
        <th>Assistant Crisis Director</th>
        <th>Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Nicholas Ellery</td>
        <td>Oscar Isham</td>
        <td>Alexis Giannelia</td>
        <td>Kamil Chatila-Amos</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}nicholas-ellery.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}oscar-isham.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}alexis-giannelia.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}kamil-chatila-amos.jpg" /></td>
    </tr>
</table>
