<h2>African Union</h2>
<table>
    <tr>
        <th>Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Beement Alemayehu</td>
        <td>Ashley Karekaho</td>
        <td>Nyasha Chidzero</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}beement-alemayehu.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}ashley-karekaho.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}nyasha-chidzero.jpg" /></td>
    </tr>
</table>
<h2>European Union</h2>
<table>
    <tr>
        <th>Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Brett Hartley</td>
        <td>Alexis du Fayet de la Tour</td>
        <td>Jacob Omorodion</td>
        <td>Melis Birgen</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}brett-hartley.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}alexis-fayet.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}jacob-omorodion.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}melis-birgen.jpg" /></td>
    </tr>
</table>
