<table>
    <tr>
        <th>Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Brett Hartley</td>
        <td>Alexis du Fayet de la Tour</td>
        <td>Jacob Omorodion</td>
        <td>Melis Birgen</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}brett-hartley.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}alexis-fayet.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}jacob-omorodion.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}melis-birgen.jpg" /></td>
    </tr>
</table>
