<table>
    <tr>
        <th>Chair</th>
        <th>Vice Chair</th>
        <th>Vice Chair</th>
        <th>Vice Chair</th>
    </tr>
    <tr>
        <td>Roland Barlier</td>
        <td>Arjun Jeyapaalan</td>
        <td>Marion Lugagne Delpon</td>
        <td>Phoebe Zamanuel</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}roland-barlier.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}arjun-jeyapaalan.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}marion-lugagne-delpon.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}phoebe-zamanuel.jpg" /></td>
    </tr>
</table>
