<table>
    <tr>
        <th>Crisis Director</th>
        <th>Assistant Crisis Director</th>
        <th>Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Sara Issaoun</td>
        <td>Julian Pirie</td>
        <td>Mackenzie Anderson</td>
        <td>Karim El-Baba</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}sara-issaoun.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}julian-pirie.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}mackenzie-anderson.png" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}karim-el-baba.jpg" /></td>
    </tr>
</table>
