<table>
    <tr>
        <th>Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Ida Mahmoudi</td>
        <td>Bryan Pena</td>
        <td>Cassandra Douglas</td>
        <td>Veeraje Bhonsle</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}ida-mahmoudi.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}bryan-pena.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}cassandra-douglas.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}veeraje-bhonsle.jpg" /></td>
    </tr>
</table>
