<table>
    <tr>
        <th>Crisis Director</th>
        <th>Assistant Crisis Director</th>
        <th>Assistant Crisis Director</th>
        <th>Chair</th>
        <th>Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Emmett Meacher</td>
        <td>Erol Suatac</td>
        <td>Mitchell Clarke</td>
        <td>Kaitlyn Bowman</td>
        <td>Deena Smith</td>
        <td>Jessie Ma</td>
        <td>Zayd Omar</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}emmett-meacher.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}erol-suatac.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}mitchell-clarke.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}kaitlyn-bowman.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}denna-smith.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}jessie-ma.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}zayd-omar.jpg" /></td>
    </tr>
</table>
