<table>
    <tr>
        <th>Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Koray Demir</td>
        <td>Mahathi Ramesh</td>
        <td>Sara Awad</td>
        <td>Valeria Vendries</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}koray-demir.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}mahathi-ramesh.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}sara-awad.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}valeria-vendries.jpg" /></td>
    </tr>
</table>
