<table>
    <tr>
        <th>Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Richad Hirani</td>
        <td>Dina Eraksan</td>
        <td>Praniet Chopra</td>
        <td>Yifan Liu</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}richad-hirani.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}dina-eraksan.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}praniet-chopra.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}yifan-liu.jpg" /></td>
    </tr>
</table>
