<table>
    <tr>
        <th>Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Stephen Reimer</td>
        <td>Adip Narang</td>
        <td>Danish Aftab</td>
        <td>Samer Salameh</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}stephen-reimer.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}adip-narang.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}danish-aftab.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}samer-salameh.jpg" /></td>
    </tr>
</table>
