<table>
    <tr>
        <th>Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Punhal Pirzada</td>
        <td>Aleksandra Kasikovic</td>
        <td>Juliette Bronchtein</td>
        <td>Meghan Keenan</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}punhal-pirzada.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}aleksandra-kasikovic.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}juliette-bronchtein.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}meghan-keenan.jpg" /></td>
    </tr>
</table>
