<table>
    <tr>
        <th>Director</th>
        <th>Assistant Crisis Director</th>
        <th>Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Ameya Pendse</td>
        <td>Dean Di Giorgio</td>
        <td>Benjamin Dillard</td>
        <td>Dan Ton Tat</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}ameya-pendse.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}dean-giorgio.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}benjamin-dillard.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}dan-ton-tat.jpg" /></td>
    </tr>
</table>
