<table>
    <tr>
        <th>Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Jonathan Tan Yan</td>
        <td>Allison Sibhtorpe</td>
        <td>Katherine Fleshner</td>
        <td>Suday Jain</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}jonathan-tan-yan.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}allison-sibhtorpe.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}katherine-fleshner.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}suday-jain.jpg" /></td>
    </tr>
</table>
