<table>
    <tr>
        <th>Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Prashanth Selvakumar</td>
        <td>Allen Chen</td>
        <td>Arun Rawlani</td>
        <td>Eileen Siow</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}prashanth-selvakumar.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}allen-chen.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}arun-rawlani.png" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}eileen-siow.jpg" /></td>
    </tr>
</table>
