<table>
    <tr>
        <th>Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Max Seltzer</td>
        <td>Alexandria Petit-Thorne</td>
        <td>Karen Chen</td>
        <td>Scott Harman-Heath</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}max-seltzer.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}alexandria-petit-thorne.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}karen-chen.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}scott-harman-heath.jpg" /></td>
    </tr>
</table>
