<table>
    <tr>
        <th>Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Nicholas Buhne</td>
        <td>Manon Rouanet</td>
        <td>Manzar Akbar</td>
        <td>David Cavey</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}nicholas-buhne.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}manon-rouanet.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}manzar-akbar.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}david-cavey.png" /></td>
    </tr>
</table>
