<table>
    <tr>
        <th>Crisis Director</th>
        <th>Assistant Crisis Director</th>
        <th>Assistant Crisis Director</th>
        <th>CCP Chair</th>
        <th>CCP Vice Chair</th>
        <th>KMT Chair</th>
        <th>KMT Vice Chair</th>
    </tr>
    <tr>
        <td>Daniel Etcovich</td>
        <td>James Halifax</td>
        <td>Shayna Fleury</td>
        <td>Serena Wang</td>
        <td>Stephanie He</td>
        <td>Michelle Rubianto</td>
        <td>Alejandra Pelaez Soni</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}daniel-etcovich.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}james-halifax.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}shayna-fleury.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}serena-wang.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}stephanie-he.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}michelle-rubianto.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}alejandra-soni.jpg" /></td>
    </tr>
</table>
