<table>
    <tr>
        <th>Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Geneva Nam</td>
        <td>Cheyenne Arbulu-Pelletier</td>
        <td>Robyn Gordon</td>
        <td>Sheikh Huzaifa Uzair</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}geneva-nam.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}cheyenne-arbulu-pelletier.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}robyn-gordon.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}sheikh-huzaifa-uzair.jpg" /></td>
    </tr>
