<table>
    <tr>
        <th>Crisis Director</th>
        <th>Assistant Crisis Director</th>
        <th>Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Kim Kidani</td>
        <td>Justin Fraser</td>
        <td>Gelila Bedada</td>
        <td>Eileen Ng</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}kim-kidani.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}justin-fraser.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}gelila-bedada.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}eileen-ng.jpg" /></td>
    </tr>
</table>
