<table>
    <tr>
        <th>Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Jordan Nicholas-Matte</td>
        <td>Insiya Mankani</td>
        <td>Nicholas D'Ascanio</td>
        <td>Suzanne Holcomb</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}jordan-nicholas-matte.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}insiya-mankani.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}nicholas-dascanio.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}suzanne-holcomb.jpg" /></td>
    </tr>
</table>
