<table id="staff-dates">
    <tr>
        <th>Date</th>
        <th>Event</th>
        <th>Coordinators</th>
        <th>Logistical staff</th>
        <th>Committees staff</th>
    </tr>
    <tr>
        <td>Thursday, January 8<sup>th</sup></td>
        <td>Committees introductory meeting</td>
        <td></td>
        <td></td>
        <td class="check"></td>
    </tr>
    <tr>
        <td>Saturday, January 10<sup>th</sup></td>
        <td>Logistical staff training</td>
        <td class="check"></td>
        <td class="check"></td>
        <td></td>
    </tr>
    <tr>
        <td>January 10<sup>th</sup>-11<sup>th</sup></td>
        <td>Individual Dais Training</td>
        <td></td>
        <td></td>
        <td class="check"></td>
    </tr>
    <tr>
        <td>Sunday, January 11<sup>th</sup></td>
        <td>Crises Training</td>
        <td></td>
        <td></td>
        <td class="check"><small>(Crises)</small></td>
    </tr>
    <tr>
        <td>Tuesday, January 13<sup>th</sup></td>
        <td>McMUN in-house I</td>
        <td class="invited">Invited</td>
        <td class="invited">Invited</td>
        <td class="check"></td>
    </tr>
    <tr>
        <td>Thursday, January 15<sup>th</sup></td>
        <td>McMUN in-house II</td>
        <td class="invited">Invited</td>
        <td class="invited">Invited</td>
        <td class="check"></td>
    </tr>
    <tr>
        <td>Thursday, January 15<sup>th</sup></td>
        <td>Staff hype night</td>
        <td class="check"></td>
        <td class="invited">Invited</td>
        <td class="invited">Invited</td>
    </tr>
    <tr>
        <td>Sunday, January 16<sup>th</sup> or 17<sup>th</sup></td>
        <td>Event Staff Training</td>
        <td></td>
        <td class="check"></td>
        <td></td>
    </tr>
    <tr>
        <td>Tuesday, January 20<sup>st</sup></td>
        <td>McStuffing</td>
        <td class="check"></td>
        <td class="check"></td>
        <td class="check"></td>
    </tr>
    <tr>
        <td>Thursday, January 22<sup>th</sup> - Sunday, January 25<sup>th</sup></td>
        <td>McMUN 2015</td>
        <td class="check"></td>
        <td class="check"></td>
        <td class="check"></td>
    </tr>
</table>

<p><strong>Note:</strong> these dates are tentative and are subject to change.</p>
