<ion-view title="McMUN">
    <ion-content class="has-header">
    <div class="list">
    
    <a class="item item-icon-left" ng-href="#/submenu?url=/m/itinerary&title=itinerary">
        <i class="icon ion-ios7-calendar-outline"></i>
        Conference itinerary
    </a>
    <a class="item item-icon-left" ng-href="#/submenu?url=/m/committees-list&title=committees">
        <i class="icon ion-chatbubbles"></i>
        Committees
    </a>
    <a class="item item-icon-left" ng-href="#/delegates">
        <i class="icon ion-ios7-people"></i>
        Delegates
    </a>

    <div class="item item-divider">
        Hotel
      </div>
        <a class="item item-icon-left" ng-click="browser('maps.google.ca/?q=H5A+1E4')">
        <i class="icon ion-ios7-location"></i>
        Hotel direction
    </a>
    <a class="item item-icon-left" ng-href="http://www.ssuns.org/static/files/floorplan.pdf">
        <i class="icon ion-ios7-paperplane"></i>
        Floor plan
    </a>
    <a class="item item-icon-left" ng-href="#/submenu?url=/m/hotel-contact&title=contact">
        <i class="icon ion-ios7-information-outline"></i>
        Hotel contact
    </a>

    <div class="item item-divider">
        Social media
      </div>
      <a class="item item-icon-left" ng-click="browser('mobile.twitter.com/search?q=%23SSUNS')">
        <i class="icon ion-social-twitter"></i>
        Twitter
    </a>
    <a class="item item-icon-left" ng-click="browser('m.facebook.com/officialssuns')">
        <i class="icon ion-social-facebook"></i>
        Facebook
    </a>
    <a class="item item-icon-left" ng-click="browser('www.youtube.com/channel/UCCHYwb-lrewUehE4edclD2g/videos')">
        <i class="icon ion-social-youtube-outline"></i>
        Youtube
    </a>

    <div class="item item-divider">
        More
      </div>
      <a class="item item-icon-left" ng-href="#/submenu?url=/m/our-sponsors&title=sponsors">
        <i class="icon ion-earth"></i>
        Sponsors
    </a>
    <a class="item item-icon-left" ng-href="#/submenu?url=/m/conference-charity&title=charity">
        <i class="icon ion-leaf"></i>
        Charity events
    </a>
    <a class="item item-icon-left" ng-href="#/submenu?url=/m/food&title=Food">
        <i class="icon ion-coffee"></i>
        Food deals
    </a>

      <a class="item button button-block button-dark" ng-href="#/submenu?url=/m/contact-us&title=contact">
        Contact us
    </a>
  </div>
  </ion-content>
</ion-view>
